<!--{% macro form(action, children, type = "post") %}
	<form action="{{ action }}" type="{{ type }}">
		{{ children }}
	</form>
{% endmacro %}-->


{% macro input(title, type, name, id, error, placeholder, value = "") %}
	<div>
		<label for="{{ id }}">{{ title }}</label>
		<input value="{{ value }}" type="{{ type }}" id="{{ id }}" name="{{ name }}" required placeholder="{{ placeholder }}">
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
	</div>
{% endmacro %}

{% macro textarea(title, name, id, error, placeholder, value = "") %}
	<div>
		<label for="{{ id }}">{{ title }}</label>
		<textarea id="{{ id }}" name="{{ name }}" required placeholder="{{ placeholder }}">{{ value }}</textarea>
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
	</div>
{% endmacro %}
