{% extends 'layout.html.twig' %}

{% block title %} 
    {{parent}} - A propos
{% endblock %}

{% block stylesheet%}
    <link rel="stylesheet" href="/assets/css/blur.css">
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block content %}
    <main>
    <h1 class="about">Qui nous sommes </h1>
    <div class="container-about">
        <div class="text">
        <h2>Salut !</h2>
        <p>Nous sommes une équipe de 5 devs-voyagers.
            On apprecie le bon pain (et le vin) ainsi que les bon jeux du cirque.
            C’est pourquoi on a crie ce site.<br/>Bon courage et bon voyage !
        </p>
        </div>
        <span class="devs">
            {% for dev in devs %}
            <span class="dev">
                <img class="dev-ava" src="{{pathAva ~ dev.image}}" />
                <span class="name">{{dev.name}}</span>
                <!--<span class="icon git"><a href="{{dev.github}}"><img class="icon" src="{{pathIcon ~ 'github1.svg'}}" /></a></span>-->
                <span class="icon git"><a href="{{dev.github}}" class="svg-background"></a></span>
                <span class="icon linkedin"><a href="{{dev.linkedin}}"><img class="icon" src="{{pathIcon ~ 'linkedin.png'}}" /></a></span>
            </span>
            {% endfor %}
        </span>
    </div>
    </main>
{% endblock %}