<li class="card-container">
	<a class="card-single icon edit" href="/addGoodeal/edit?id={{announcement.id}}">
		<span class="icon edit"><img class="edit" src="/assets/images/icons/edit.svg" alt="Modifier"/></span>
	</a>
	<a class="card-single icon remove" href="/announcements/delete?id={{announcement.id}}" onclick="return confirm('Vous êtes sûr ? Ce sera irréversible');">
		<span class="icon remove"><img src="/assets/images/icons/remove.png" alt="Supprimer"/></span>
	</a>
	<a href="/announcements/card?id={{announcement.id}}" class="card-single">
		<article class="card-single">
			<div class="card-header">
				<h2>{{announcement.title}}</h2>
			</div>
			<div class="card-date-city">
				<span class="card-date">
					<span class="">
						{% if announcement.date_start %}Du
							{{announcement.date_start|date('d M')}}
						{% endif %}
						-
						{% if announcement.date_end %}
							{{announcement.date_end|date('d M Y')}}
						{% endif %}
					</span>
					<span>Lieu :
						{{announcement.city}}</span>
				</span>
			</div>
			<div class="card-info">
				<div class="card-image">
					<img src="/assets/images/cards/{{announcement.image}}" alt="{{announcement.title}}"/>
				</div>
				<div class="card-text">
					{{announcement.message}}
				</div>
				<div class="card-see-more">En savoir plus</div>
				<div class="card-author">
					<div class="author-line">De
						<span>{{announcement.firstname}}
							{{announcement.lastname}}</span>
					</div>
				</div>
			</div>
		</article>
	</a>
</li>
