{% extends 'layout.html.twig' %}
{% import "Announcement/form.html.twig" as form %}

{% block title %}
	{{ parent() }}
	- Ajouter un GooDeal
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/addGoodeal.css">
{% endblock %}


{% block content %}
	<div class="form">
		<div class="overlay">
			<h1 class="txt_form">Dépose ton GooDeal

			</h1>

			<form action="/addGoodeal/add" class="contact-form" method="post" enctype="multipart/form-data">
				{{ form.input("deal-name","nomme ton deal*", "text", "deal-name", "deal-name", errors.title, "nom du deal") }}
				{{ form.input("lastname","ton nom*", "text", "lastname", "lastname", errors.lastname, "ex: juste") }}
				{{ form.input("firstname", "ton prénom*", "text", "firstname", "firstname", errors.firstname, "ex: axel") }}
				{{ form.selectCategory("category","choisis ta catégorie*", "category", "category") }}
				{{ form.input("address","nom et numéro de rue du goodeal*", "text", "address", "address", errors.address, "ex: 14 bis route nationale") }}
				{{ form.selectregion("region","région du goodeal*", "region", "region") }}
				{{ form.input("city","ville du goodeal*", "text", "city", "city", errors.city, "ex: Wargnies") }}
				{{ form.input("zipcode", "code postal du goodeal*", "text", "zipcode", "zipcode", errors.zipcode, "ex: 59144") }}
				{{ form.inputNoRequiredNoError("start-date", "date de début", "date", "start-date", "start-date", "ex: 20/12/2022") }}
				{{ form.inputNoRequiredNoError("end-date", "date de fin", "date", "end-date", "end-date", "ex: 25/12/2022") }}
				{{ form.input("email", "ton adresse mail*", "email", "email", "email", errors.email, "ex: florent.dupond@gmail.com") }}
				{{ form.inputnorequired("imageupload", "la photo de ton deal", "file", "imageupload", "imageupload", errors.image) }}
				{{ form.textarea("description", "décris ton deal*", "text", "description", "description", errors.message, "ex: grand tournoi de pétanque avec plus de 300 paritcipants...") }}
				<button type=" submit">Ajouter ton deal</button>
			</form>
		</div>
	</div>
{% endblock %}
