{% macro input(title, label, type, name, id, error, placeholder, value = "") %}
	<div class="label-column">
		<label for="{{ title }}">{{ label }}</label>
		<input type="{{ type }}" id="{{ id }}" name="{{ name }}" required placeholder="{{ placeholder }}" value="{{value}}">

		{% if error %}
			<p class="error">{{ error }}</p>
		{% endif %}
	</div>
{% endmacro %}

{% macro inputNoRequiredNoError(title, label, type, name, id, placeholder, value = "") %}
	<div class="label-column">
		<label for="{{ title }}">{{ label }}</label>
		<input type="{{ type }}" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{value}}">
	</div>
{% endmacro %}
{#
{% macro selectRegion(title, label, name, id, value = "") %}
	<div class="label-column">
		<label for="{{ title }}">{{ label }}</label>
		<select id="{{ id }}" name="{{ name }}" value="{{value}}">
			<option value="Auvergne Rhône Alpes">Auvergne-Rhône-Alpes</option>
			<option value="Bourgogne Franche Comté">Bourgogne-Franche-Comté</option>
			<option value="Bretagne">Bretagne</option>
			<option value="Centre Val de Loire">Centre-Val de Loire</option>
			<option value="Corse">Corse</option>
			<option value="Grand Est">Grand Est</option>
			<option value="Hauts de France">Hauts-de-France</option>
			<option value="Île de France">Île-de-France</option>
			<option value="Normandie">Normandie</option>
			<option value="Nouvelle Aquitaine">Nouvelle-Aquitaine</option>
			<option value="Occitanie">Occitanie</option>
			<option value="Pays de la Loire">Pays de la Loire</option>
			<option value="Provence Alpes Côte  d'Azur">Provence-Alpes-Côte d'Azur</option>
		</select>
	</div>
{% endmacro %}
#}
{% macro selectCategory(title, label, name, id, value = "") %}
	<div class="label-column">
		<label for="{{ title }}">{{ label }}</label>
		<select id="{{ id }}" name="{{ name }}" value="{{value}}">
			<option value="Event">Evenement</option>
			<option value="food-service">Restauration</option>
			<option value="accommodation">Logement</option>
		</select>
	</div>
{% endmacro %}


{% macro textarea(title, label, type, name, id, error, placeholder, value = "") %}
	<div class="label-column">
		<label for="{{ title }}">{{ label }}</label>
		<textarea type="{{ type }}" id="{{ id }}" name="{{ name }}" required placeholder="{{ placeholder }}">{{ value }}</textarea>
		{% if error %}
			<p class="error">{{ error }}</p>
		{% endif %}
	</div>
{% endmacro %}

{% macro inputImage(title, label, type, name, id, error, value = "") %}
	<div class="label-column">
		<label for="{{ title }}">{{ label }}</label>
		<p>{{value}}</p>
		<p>Choisis une nouvelle image</p>
		<input type="{{ type }}" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}">

		{% if error %}
			<p class="error">{{ error }}</p>
		{% endif %}
	</div>
{% endmacro %}
