{% extends 'layout.html.twig' %}
{% block title %}
    {{parent}} - Annonces
{% endblock %}
{% block stylesheet%}
    <link rel="stylesheet" href="/assets/css/announcement.css">
{% endblock %}
{% block content %}
{% set line = "" %}
{% for key, value in where %}
    {% set line =line~key~"="~value~"&" %}
{% endfor %}
<div>
    <button class="btn-goodeals" type="button" onclick="location.href='../add?{{line|trim('&')}}'">
        Ajoute GooDeals
    </button>
    {% include 'Components/_navbar.html.twig' %}
    {% include 'Components/_regions.html.twig' %}
    <div class="container">  
        {% if announcements %}  
            {% for announcement in announcements %}
                {% include 'Components/_card.html.twig' %}
            {% endfor %}
        {% else %}
            <p>Rien trouvé, désolé</p>
        {% endif %}
        {% if numpages > 1 %}
            <div class="pages">
                {% for i in 1..numpages %}
                    <span>
                        {% if i == page %}
                            {{i}}
                        {% else %}<a href="/announcement?{{line}}page={{i}}">{{i}}</a>
                        {% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif%}
    </div>
</div>
{% endblock %}